.login-body {
  button {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;

    border: none;
    outline: none;
    cursor: default;
    background: $primary-light;
    transition: all 0.25s ease-in;
    :first-child {
      z-index: 2;
      grid-row: 2/3;
      grid-column: 2/3;
      color: $primary-dark;
      text-shadow: 0 0 4px white; //--◄ X-axis, Y-axis, Blur, Color ◄--//
      transition: all 0.25s ease-in;
    }
    :first-child:hover {
      cursor: pointer;
      color: $primary-light;
      text-shadow: 0 0 4px black; //--◄ X-axis, Y-axis, Blur, Color ◄--//
    }
  }
  button:hover {
    background: $primary-medium;
    div:nth-child(2) {
      z-index: 1;
      grid-row: 1/4;
      grid-column: 1/4;
      transition: clip-path 0.25s;
      clip-path: inset(100% 0 0 0);
      background-color: $primary-dark;
    }
    :first-child:hover ~ div:nth-child(2) {
      clip-path: inset(0 0 0 0);
    }
    div:nth-child(3) {
      z-index: 0;
      display: none;
    }
  }
  // .active div {
  //   clip-path: inset(0 0 0 0);
  // }
  .active,
  .active:hover {
    background: $primary-dark;

    :first-child {
      cursor: default;
      color: $primary-light;
      text-shadow: 0 0 4px black; //--◄ X-axis, Y-axis, Blur, Color ◄--//
    }
    // div {
    //   display: none;
    //   // clip-path: inset(0 0 0 0);
    // }
  }
  //--▼ Desktop (Landscape) ▼--//
  @media screen and (orientation: landscape) {
  }
  //--▼ Mobile (Portrait) ▼--//
  @media screen and (orientation: portrait) {
  }
}
